<form action="/user/login" method="POST">
    <label>username:</label>
    <input type="text" name="username"><br>
    <label>password:</label>
    <input type="password" name="password"><br>
    <div class="validate_error" style="color:red"></div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <button type="submit">submit</button>
</form>

<script type='text/javascript' src="/js/scripts/login.js"></script>