<br><br>
<form id="resetpw_form" method="POST">
    <div class="signup-container">
        <h3 style="text-align:center;color:rgb(22, 138, 138);padding-bottom: 30px;">Password reset</form></h3>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Username:</label>
            <div class="col-sm-9">
              <input type="text" name="username" class="form-control" placeholder="6-16 characters with letters/numbers only" value="<%=user.username%>" disabled>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Current Password:</label>
            <div class="col-sm-9">
              <input type="password" name="current_pw" class="form-control" placeholder="8-16 characters" required>
              <div class="currpw_err" id="error" style="color:red"></div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">New Password:</label>
            <div class="col-sm-9">
              <input type="password" name="new_pw" class="form-control" placeholder="8-16 characters" required>
              <div class="newpw_err" id="error" style="color:red"></div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Confirm Password:</label>
            <div class="col-sm-9">
              <input type="password" name="confirm_pw" class="form-control" placeholder="confirm new password" required>
              <div class="confirmpw_err" id="error" style="color:red"></div>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <div class="unexpected_err" id="error" style="color:red"></div>
        <button type="submit" class="btn btn-dark" style="display:block; margin:30px auto 0px auto;">submit</button>
    </div>
</form>

<script>
    const form = document.querySelector('#resetpw_form');
  
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        const nodeList=document.querySelectorAll('#error');
        
        nodeList.forEach((item,index)=>{
            item.textContent="";
        });
        
        const current_pw=form.current_pw.value;
        const new_pw=form.new_pw.value;
        const confirm_pw=form.confirm_pw.value;
        const csrfToken=form._csrf.value;
        try{
            const res_message=await fetch('/user/passwordreset?_method=PUT',{
                method:'POST',
                body: JSON.stringify({current_pw:current_pw,new_pw:new_pw,confirm_pw:confirm_pw, _csrf:csrfToken}),
                headers:{'Content-Type':'application/json'}
            });
            const data=await res_message.json();
            if(data.error){
                document.querySelector('.unexpected_err').textContent=data.error|| '';   //for unexpected error
            }else if(data.validate_err){    
                for(let key in data.validate_err){
                    document.querySelector(`.${key}`).textContent=data.validate_err[key] || '';
                }
            }else{
                alert('Password reset');
                window.location.assign('/user/login');
            }
        }catch(err){
            console.log(err);
            alert(`Something goes wrong, please contact system admin.`);
            
        }});
</script>