

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <%if(user.role==='admin'){%>
        <button class="nav-link active" id="nav-dashboard-tab" data-bs-toggle="tab" data-bs-target="#nav-dashboard" type="button" role="tab" aria-controls="nav-dashboard" aria-selected="true">Dashboard</button>
        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Create</button>
      <%}else{%>
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Create</button>
      <%}%>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Search</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Case</button>
      
    </div>
  </nav>
 
  
  <div class="tab-content" id="nav-tabContent" >
  <%if(user.role==='admin'){%>
    <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <br>
      <iframe src="/dashboard" style="height:100vh;width:90vw"></iframe>
  </div>
  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <br>
    <div id="iframe1" style="height:100vh"></div>
</div>
  <%}else{%>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <br>
        <div id="iframe1" style="height:100vh"></div>
    </div>
  <%}%>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" style="height:100vh">
        <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" id='search_keyword' aria-label="Search">
          <button class="btn btn-outline-secondary" type="button" onclick="keywordsearch.init()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Case</th>
                    <th>Requestor</th>
                    <th>Department</th>
                    <th>Contact num.</th>
                    <th>Detail</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0" style="height:100vh">
        <br>
        <div id="iframe3" style="height:100vh"></div>
    </div>
    
  </div>

